/AccesoaDatos/nbproject/private/
/JDBC/nbproject/private/
/AccesoaDatos/build/
/AccesoaDatos/dist/
/.metadata/
/HibernateExample/nbproject/private/
/HibernateExample/build/
/CriaturitasHibernate/nbproject/private/
/CriaturitasHibernate/build/
/CriaturitasHibernate/dist/
/Prueba/nbproject/private/
/Leopolis/nbproject/private/
/Leopolis/build/
/Leopolis/dist/